html{
    background-image: url(BG.png)
}
body{
    width: 700px;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;  
    margin-right: auto;
    
}

body{
    text-align: center;
    font-family: Chalkduster, sans-serif;
}

body{
    border: 4px solid #000;
    background-color: #fff799;
}

a{
    font-size: 12pt;
    color: #f26d7d;
    text-decoration: none;
    
}

a:hover{
    color: #f6e405;
}

h1{
    font-size: 36pt;
    color: #f49ac1;
    border-top: 2px dotted #686143;
    border-bottom: 2px dotted #686143;
    text-transform: uppercase;
    
}

p{
    font-size: 12pt;
    line-height: 14pt;
}

img{
    border: medium solid #666;
    box-shadow: 5px5px5pxrgba(0,0,0,3)
}